.app-header {

  .top-nav {
    @include box-shadow(none);
    align-items : center;
    display : flex;
    flex-wrap : nowrap;
    height : $top-nav-height;
    justify-content : space-between;
    padding : 0 1em;
    width : 100%;

    &.centered {
      justify-content : center;
    }

    .user-menu {
      text-align : right;
      width : 100%;
    }

    @media #{$medium-and-down} {
      height     : $top-nav-mobile-height;
      text-align : center;
    }
  }

  .button-collapse {
    color       : $off-white;
    cursor      : pointer;
    font-size   : $top-nav-font-size;
    left        : 7.5%;
    margin-left : 1.5rem;
    position    : absolute;
    top         : 0;
    z-index     : 2;

    &.full {
      line-height : $top-nav-mobile-height;
    }

    @media #{$small-and-down} {
      left : 5%;
    }
  }

}

.app-content {
  margin-left : 240px;

  &.no-margin {
    margin-left : 0;
  }

  @media #{$medium-and-down} {
    margin-left : 0;
  }
}
