.overlay {
  background  : $black;
  bottom      : 0;
  display     : block;
  height      : 115%;
  left        : 0;
  opacity     : 0.45;
  position    : fixed;
  right       : 0;
  top         : 0;
  width       : 100%;
  will-change : opacity;

  &.overlay-fade-enter {
    @include transition(opacity 0.5s $ease-in-quart);
    opacity : 0.1;

    &.overlay-fade-enter-active {
      opacity : 0.45;
    }
  }

  &.overlay-fade-leave {
    @include transition(opacity 0.2s $ease-out-quart);
    opacity : 1;

    &.overlay-fade-leave-active {
      opacity : 0;
    }
  }
}
