.overlay {

  display : block;

  position : fixed;
  top : 0;
  left : 0;
  bottom : 0;
  right : 0;

  background : #000;

  will-change : opacity;

  height : 115%;
  width : 100%;
  opacity : 0.45;

  &.overlay-fade-enter {
    opacity : 0.1;

    @include transition(opacity 0.5s $ease-in-quart);

    &.overlay-fade-enter-active {
      opacity : 0.45;
    }
  }

  &.overlay-fade-leave {
    opacity : 1;

    @include transition(opacity 0.2s $ease-out-quart);

    &.overlay-fade-leave-active {
      opacity : 0;
    }
  }
}

