.side-nav {
  overflow-y : scroll;

  &.fixed {
    @include transition(all 0.6s $ease-in-quart);

    &.open {
      @media #{$medium-and-down} {
        left : 0;
      }
    }
  }

  li {
    line-height : $side-nav-line-height;
    padding     : 0 1rem;

    &.bold {
      font-weight : 500;
    }

    .collapsible-header {
      font-weight : 500;
    }

    a {
      cursor : pointer;
    }
  }

  .logo-wrapper {
    // scss-lint:disable PlaceholderInExtend
    @extend .valign-wrapper;
    // scss-lint:enable PlaceholderInExtend

    border-bottom : 1px solid $side-nav-logo-border;
    height        : $top-nav-height;
    margin-bottom : 1rem;

    &:hover {
      background-color : transparent;
    }

    .logo {
      // scss-lint:disable PlaceholderInExtend
      @extend .valign;
      // scss-lint:enable PlaceholderInExtend

      font-size : 150%;
      margin    : 0 auto;
    }
  }
}


.overlay {
  &.side-nav-overlay {
    &.overlay-fade-enter {
      @include transition(opacity 0.6s $ease-out-quart);
    }

    &.overlay-fade-leave {
      @include transition(opacity 0.6s $ease-in-quart);
    }
  }
}
