ul.side-nav {

  li {

    line-height : $side-nav-line-height;

    &.bold {
      font-weight : 500;
    }

    &.logo-wrapper {

      @extend .valign-wrapper;

      height : $top-nav-height;
      margin-bottom : 1rem;

      border-bottom: 1px solid #ddd;

      &:hover {
        background-color : transparent;
      }

      .logo {
        @extend .valign;

        font-size : 150%;
        margin : 0 auto;
      }

    }

    a {
      cursor : pointer;
      padding : 0 15px;
    }

  }

}
