$top-nav-height           : 8rem !default;
$top-nav-font-size        : 3rem !default;
$top-nav-mobile-height    : 6rem !default;
$top-nav-mobile-font-size : 2rem !default;
$side-nav-line-height     : 3em !default;

$ease-in-quart  : cubic-bezier(0.165, 0.84, 0.44, 1) !default;
$ease-out-quart : cubic-bezier(0.165, 0.84, 0.44, 1) !default;
